/backend-php/public
/backend-socket/node_modules
/frontend-game/node_modules/@babylonjs
/frontend-game/node_modules
/frontend-game/assets
/frontend-game/public
/frontend-game/.bjseditor
/frontend-game/.bjseditor
/frontend-game/.bjseditor
/frontend-game/.bjseditor
/frontend-babylon/public
