.app {
  position: relative;
  width: 100%;
  height: 100%;
}


@keyframes disco-glow {
  0% {
    text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.8),
      0 0 20px rgba(255, 0, 255, 0.5);
  }
  50% {
    text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.8),
      0 0 20px rgba(0, 255, 255, 0.5);
  }
  100% {
    text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.8),
      0 0 20px rgba(255, 255, 0, 0.5);
  }
}
